@font-face {  /* using different font [3] */
    font-family: 'Maytra';
    src: url('../fonts/Maytra.otf') format('opentype');
}

html {
    background-color: #858585;
    color: black;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
}

.header {
    font-family: 'Maytra', sans-serif;
    font-size: 36px; 
    text-align: center;
    color: #b0b0b0;
    background-color: #4c4c4c;
    padding: 1px 20px;
    position: relative;
    width: 60%;
    height: 30%;
    border-radius: 6px; /* rouding corners [1] */
    margin: 0 auto;
}

.links {
    text-align: center;
    color: #333333;
    background-color: #b0b0b0;
    padding: 1px 20px;
    position: relative;
    width: 20%;
    border-radius: 6px; /* rouding corners [1] */
    margin: 0 auto;
}

.links, a.active { /* different color links [2], psuedo class [11] */
    color: #ffffff
}

[class="body"] {
    text-align: left;
    color: #333333;
    background-color: #b0b0b0;
    padding: 1px 20px;
    position: relative;
    width: 60%;
    border-radius: 6px; /* rouding corners [1] */
    margin: 0 auto;
}

.form {
    text-align: left;
    color: #333333;
    background-color: #b0b0b0;
    padding: 1px 20px;
    position: relative;
    width: 60%;
    border-radius: 6px; /* rouding corners [1] */
    margin: 0 auto;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100vh;
    border-radius: 6px; /* rouding corners [1] */
}

figure {
    margin: 0;
    padding: 0;
    border-radius: 6px; /* rouding corners [1] */
}

figure > img {
    width: 100%;
    border-radius: 6px; /* rouding corners [1] */
}

tr:nth-child(even) { /* striped table [6] */
    background-color: #ffffff;
}

table, th, td {
    border: 1px solid black;
}

p::first-letter { /* psuedo element [10] */
    font-size: 1.5em;
    font-weight: bold;
    color: #724c00;
}

.left {
    float: left;
    width: 125px;
    margin-right: 1em;
    margin-top: 0.3em;
    font-size: small;
}

.right {
    float: right;
    width: 125px;
    margin-right: 1em;
    margin-top: 0.3em;
    font-size: small;
}

.center { /* centering image [7] */
    display: block; 
    margin: auto; 
    width: 600px;
    margin-top: 0.3em;
    font-size: small;
}

.jump {
    text-align: center;
    color: #333333;
    background-color: #b0b0b0;
    padding: 1px 20px;
    position: relative;
    width: 8%;
    border-radius: 6px; /* rouding corners [1] */
    margin: 0 auto;
}

.footer {
    text-align: center;
    color: #b0b0b0;
    background-color: #4c4c4c;
    padding: 5px 20px;
    position: relative;
    width: 60%;
    border-radius: 6px; /* rouding corners [1] */
    margin: 0 auto;
}

.footer img {
    width: 10%;
    height: auto;
    border-radius: 25px; /* rouding corners [1] */
}